@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #674baf url("../images/bg-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 4rem;
  place-items: center;
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 2rem 80px;
}

header {
  margin-right: auto;
  margin-top: 0.5rem;
  font-family: "Poppins", sans-serif;
}

header img {
  display: block;
  width: 100%;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.content h1 {
  font-size: 2.75rem;
  line-height: 1.5;
  margin-top: 2rem;
}

.content p {
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 1.5rem 0;
}

.content .register {
  display: block;
  padding: 1rem 2rem;
  background-color: white;
  text-decoration: none;
  font-size: 1.25rem;
  text-align: center;
  color: #674baf;
  width: 12.5rem;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.45);
          box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.45);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.content .register:hover {
  color: white;
  background-color: #e882e8;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.share-links {
  justify-self: flex-end;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1rem;
}

.share-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.share-links a:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  color: #e882e8;
  border-color: #e882e8;
}

@media (max-width: 1440px) {
  body {
    padding: 2rem 3rem;
  }
  .share-links a {
    font-size: 1rem;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1220px) {
  body {
    padding: 2rem 3rem;
  }
  html {
    font-size: 15px;
  }
  .image-sec {
    width: 100%;
  }
  .image-sec img {
    width: 100%;
  }
}

@media (max-width: 769px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 550px) {
  body {
    padding: 2rem;
    background: #674baf url("../images/bg-mobile.svg");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
  }
  header {
    width: 13rem;
  }
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .container .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .share-links {
    margin: 0 auto;
  }
}
